
//colores

$mainColor:rgba(236, 220, 179, 0.8);
$secondaryColor:rgba(249, 211, 97, 0.7);
$white:#F4F4F4;
$black:#181818;
$grey:#8D8D8D;
$degrade:linear-gradient(to top, #D68A31, #f0cf93);
$red:#F14444;
$green:#86FB89;

//medidas

$w-100:100%;
$w-50:50%;
$w-25:25%;
